/*********************************/
/*********** Global **************/
/*********************************/
.input {
    background: rgba(255, 255, 255, .2);
    border: none;
    height: 50px;
    width: 230px;
    text-align: center;
    color: white;
}

.button {
    display: flex;
    background: #D4C17F;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
    width: 230px;
    cursor: pointer;
}
.button:hover {
    opacity: 0.9;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin: 0;
}


.link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

    color: white;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.link:visited {
    color: white;
}

.mr-15 { margin-right: 15px; }
.ml-15 { margin-left: 15px; }

body {
    margin: 0;
    background: #242b33;
}

.block {
    max-width: 1000px;
    margin: 0 auto;
}

.main {

}



/*********************************/
/*********** Header **************/
/*********************************/
.header {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-img {
    width: 134px;
}

.header .top .col {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.header .links {
    display: flex;
    justify-content: space-between;
}

.header .links a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

    color: white;
    text-decoration: none;
}
.header .links a:hover {
    text-decoration: underline;
}
.header .links a:visited {
    color: white;
}


.big-text {
    display: flex;
    justify-content: center;
    align-items: center;

    background:
            linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
            url(image/header-bg.png);

    width: 100%;
    height: 100%;

}

.big-text .text {
    margin-bottom: 10%;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
}





/*********************************/
/*********** Nav-Panel ***********/
/*********************************/

.nav-panels {
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-panels .panels {
    width: 20%;
}

.nav-panels .panels-container {
    display: flex;
}

.nav-panels .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 40px 30px 30px;
}

.nav-panels .title .text {
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.nav-panels .icon-container {
    display: flex;
    justify-content: center;
}

.nav-panels .icon-container img {
    width: 80px;
    height: 80px;
}



/*********************************/
/********** Apartments ***********/
/*********************************/

.apartments h1 {
    margin-bottom: 100px;
}

.apartments .row {
    display: flex;
    justify-content: space-between;
}

.apartments .panel {
    width: 49%;
    height: 320px;
    margin-bottom: 30px;
}

.apartments .panel .text {
    position: relative;
    z-index: 100;
    top: -15%;
    left: 10%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: white;
}

.apartments .panel img {
    position: relative;

    width: 100%;
    height: 100%;
}




/*********************************/
/************ Footer *************/
/*********************************/
.footer {
    background: #2d343c;
    height: 30vh;
    max-height: 270px;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.footer .col {
    display: flex;
    flex-direction: column;
}

.footer .link, .footer .text-row {
    margin-bottom: 15px;
}

.footer .text-row {
    color: white;
}

.footer .text-row .yellow-mark {
    color: #D4C17F;
}



/*********************************/
/*********** Form look ***********/
/*********************************/
.form-look {
    margin-top: 180px;
    margin-bottom: 180px;
}

.form-look h1 {
    margin-bottom: 30px;
}

.form-look .text-content {
    min-width: 240px;
}

.form-look .content {
    display: flex;

    color: white;
}

.form-look .content .col > .text {
    padding-right: 60px;
}

.form-look .content .col.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-look .content .col {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 120px;
}

.form-look .text {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #E7E7E7;
}

.form-look .row {
    display: flex;
}




/*********************************/
/************ Question ***********/
/*********************************/
.questions {
    margin-bottom: 60px;
    color: white;
}

.questions h1 {
    margin-bottom: 60px;
}

.questions .content {
    display: flex;
    justify-content: space-between;
}

.questions .text {
    text-align: center;
}

